<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Gugi&amp;subset=korean" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" th:href="@{/carousel.css}" rel="stylesheet">
    <style>
      body{
      font-family: 'Gugi', cursive;
      margin:60px;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      footer{
        text-align: center;
      }

    </style>

    <title>게시판</title>
  </head>

<body>
    
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="fragments/common :: menu('board')">
        </nav>
    </header>
      <!-- Begin page content -->
          <div class="alert alert-secondary" role="alert">
          게시글을 작성하세요.
          </div>

        <form action="#" th:action="@{/form}" th:object="${board}" method="post">
          <input type="hidden" th:field="*{id}">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text">이름</span>
                  <input type="text" class="form-control"
                         th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" id="name" th:field="*{name}">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                      이름 에러 메세지
                  </div>
              </div>
            </div>

            <div class="from-group">
                <label for="title">제목</label>
                <input type="text" class="form-control"
                       th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    제목 에러 메세지
                </div>
            </div>
            <div class="from-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" rows="3" th:field="*{content}"
                          th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                    내용 에러 메세지
                </div>
            </div>

            <div class="text-end">
                <a type="button" class="btn btn-danger" th:href="@{/list}">취소</a>
                <button class="btn btn-secondary" type="submit">확인</button>
            </div>

        </form>

      
      
        <!-- FOOTER -->
        <footer class="container">
          <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
      </main>
</body>
</html>